h1.xlarge {
    font-weight: 100;
    text-align: center;
}

form#login {
    .input-group {
    
        display: block;
        margin-bottom: 20px;
        border-width:  0px;
    }
    
    .input-group:last-child {
        margin-bottom: 0px;
    }
    
    padding: 0 4rem 4rem 4rem;
    
    div.submit {
        text-align: center;
        .btn.login {
            background-color: #7F2C43;
            color: white;
            height: 46px;
        }

        p.forgot-password {
            margin-bottom: 0;
            margin-top: 10px;
        }
    }
}

body#login {
    
    background-image: url('../img/172_1DP897.jpg');
    background-size: cover;
}

body#register {
    
    background-image: url('../img/pattern.png'); 
    //background-size: cover;
}
